In [1]:
# single data type elements conversion
1.Integer to floating point numbers
int_value = 5
print(type(int_value))
int_value

<class 'int'>

5

In [2]:
converted_to_float = float(int_value)
converted_to_float

5.0

In [3]:
type(converted_to_float)

float

In [4]:
# float to int
x = 9.46
int(x)

9

In [5]:
type(x)

float

In [6]:
type(int(x))

int

In [7]:
# 3.String to int (not possible if stored characters value but possible if stored numeric value)
custName = "Thomas Smith"
int(custName)

ValueError: invalid literal for int() with base 10: 'Thomas Smith'

In [8]:
creditScore = "790"
int(creditScore)

790

In [10]:
# 4.Converting floating point stored as character to int directly will not work
x = '4.98'
int(x)

ValueError: invalid literal for int() with base 10: '4.98'

In [11]:
x = '14.98'
y = float(x)
print(y)
int(y)

14.98

14

In [13]:
#6. Converting int to string
Credit_score = 700
str(Credit_score)

'700'

In [14]:
#7. Converting int to boolean
number_of_children = 0
bool(number_of_children)

False

In [15]:
number_of_children = 1
bool(number_of_children)

True

In [17]:
number_of_children = -2
bool(number_of_children)

True

In [18]:
number_of_children = None
bool(number_of_children)

False

In [19]:
#7. Single Element/ single Data Type to tuple or list
x = 'Andrew'
list(x)

['A', 'n', 'd', 'r', 'e', 'w']

In [20]:
len(list(x))

6

In [22]:
tuple(x)

('A', 'n', 'd', 'r', 'e', 'w')

In [23]:
set(x)

{'A', 'd', 'e', 'n', 'r', 'w'}

In [24]:
#x -> is name of object and 1-> is value assigned to each object
dict.fromkeys(x, 1)

{'A': 1, 'n': 1, 'd': 1, 'r': 1, 'e': 1, 'w': 1}

In [26]:
#8. Converting to pandas object - series
import pandas as pd
pd.Series(x)

0    Andrew
dtype: object