In [1]:
# Pandas Data Frames with default index values

In [2]:
import pandas as pd
Emp_Details = pd.DataFrame({'Name_Emp':['Andy Simpson'], 'Age':[34]})
print(Emp_Details)

       Name_Emp  Age
0  Andy Simpson   34

In [3]:
Emp_Details = pd.DataFrame({'Name_Emp':['Andy Simpson', 'John Anderson', 'Liza Brooke'], 'Age':[34,45, 23],
                            'GT_5_yrs':[True, False, False]})
print(Emp_Details)

        Name_Emp  Age  GT_5_yrs
0   Andy Simpson   34      True
1  John Anderson   45     False
2    Liza Brooke   23     False

In [4]:
#Pandas Data Frame with customized default indexes

In [5]:
Emp_Details = pd.DataFrame({'Name_Emp':['Andy Simpson', 'John Anderson', 'Liza Brooke'], 'Age':[34,45, 23],
                            'GT_5_yrs':[True, False, False]}, index = ['Andy', 'John', 'Liza'])
Emp_Details

           Name_Emp  Age  GT_5_yrs
Andy   Andy Simpson   34      True
John  John Anderson   45     False
Liza    Liza Brooke   23     False