In [1]:
tupple1 = (67, 34, 'Milo', None)
tupple1

(67, 34, 'Milo', None)

In [2]:
list1 = [34, 55, 34, 23]
list1

[34, 55, 34, 23]

In [3]:
# list of current objects active in Python
dir()

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'list1',
 'quit',
 'tupple1']

In [4]:
# delet objects
x = 4
y = 10
print(x)
print(y)
del(x, y)
print(x)
print(y)

4
10

NameError: name 'x' is not defined

In [7]:
import pandas
series_obj = pandas.Series([98, 34, 56, 23, 67])
series_obj

0    98
1    34
2    56
3    23
4    67
dtype: int64

In [8]:
type(series_obj)

pandas.core.series.Series

In [9]:
series_obj.dtype

dtype('int64')

In [10]:
series_obj = pandas.Series([98, 34, 56, '23', 67])
series_obj

0    98
1    34
2    56
3    23
4    67
dtype: object