In [1]:
# Multiple data type elements conversion
#1. Tuple to List
tupp = "John", 23, False
print(tupp)
print(type(tupp))

('John', 23, False)
<class 'tuple'>

In [3]:
tupp_to_list = list(tupp)
print(tupp_to_list)
print(type(tupp_to_list))

['John', 23, False]
<class 'list'>

In [4]:
list_to_set = set(tupp_to_list)
print(list_to_set)
print(type(list_to_set))

{False, 'John', 23}
<class 'set'>

In [5]:
#set to dictionary
set_to_dictionary = dict.fromkeys(list_to_set, 1)
set_to_dictionary

{False: 1, 'John': 1, 23: 1}

In [7]:
#Example - one list contains keys and another contains values
list_keys = ['Name', 'Cust_id', 'Age']
list_values_name = ['Theresa', 'Joseph', 'Barb']
list_values_cust_id = ['C001', 'C002', 'C003']
list_values_age = [45, 56, 72]
combined_list = [list_values_name, list_values_cust_id, list_values_age]
print(combined_list)

[['Theresa', 'Joseph', 'Barb'], ['C001', 'C002', 'C003'], [45, 56, 72]]

In [9]:
NewDict = dict.fromkeys(list_keys)
NewDict

{'Name': None, 'Cust_id': None, 'Age': None}

In [11]:
for x, y in zip(NewDict.keys(), combined_list):
    NewDict[x] = y
NewDict

{'Name': ['Theresa', 'Joseph', 'Barb'],
 'Cust_id': ['C001', 'C002', 'C003'],
 'Age': [45, 56, 72]}

In [12]:
# Conversion to series -> with elements of same data type
tupp = "John", 23, False
import pandas as pd
pd.Series(tupp)

0     John
1       23
2    False
dtype: object

In [13]:
# String > Number > Bool
tupp =  23, False
import pandas as pd
pd.Series(tupp)

0       23
1    False
dtype: object