In [1]:
#Dimensional NumPy Array and Array Specific functions

In [3]:
import numpy as np
cust_Age = np.array([34, 45, 50, 69, 71])  # creating a rank 1 array
cust_Age

array([34, 45, 50, 69, 71])

In [4]:
#to check dimension of array
cust_Age.ndim

1

In [5]:
#to check shape i.e, number of rows and columns
cust_Age.shape

(5,)

In [6]:
#to check size i.e, rows and columns
cust_Age.size

5

In [12]:
#to check data type of elements
cust_Age.dtype

dtype('int32')

In [13]:
#2. Two-Dimensional NumPy Array

In [15]:
cust_data = np.array([[34, 1000], [35, 5000], [47, 3500]])
cust_data

array([[  34, 1000],
       [  35, 5000],
       [  47, 3500]])

In [16]:
#to check dimension of array
cust_data.ndim

2

In [17]:
#to check size i.e, rows and columns
cust_data.size

6

In [18]:
#to check shape i.e, number of rows and columns
cust_data.shape

(3, 2)

In [19]:
#to check data type of elements
cust_data.dtype

dtype('int32')

In [20]:
#customizing a data type
cust_data = np.array([[34, 1000], [35, 5000], [47, 3500]], dtype = 'int64')
cust_data

array([[  34, 1000],
       [  35, 5000],
       [  47, 3500]], dtype=int64)

In [21]:
cust_data = np.array([[34, 1000], [35, 5000], [47, 3500]], dtype = 'float')
cust_data

array([[  34., 1000.],
       [  35., 5000.],
       [  47., 3500.]])

In [22]:
#3. Three-Dimensional NumPy Array

In [23]:
TelecomCompany = np.array([[[34, 1000], [35, 5000], [45, 7000]], [[36, 1800], [65, 4000], [49, 7600]]])
TelecomCompany

array([[[  34, 1000],
        [  35, 5000],
        [  45, 7000]],

       [[  36, 1800],
        [  65, 4000],
        [  49, 7600]]])

In [24]:
#to check dimension of array
TelecomCompany.ndim

3

In [25]:
#to check shape i.e, number of rows and columns
TelecomCompany.shape

(2, 3, 2)

In [27]:
#to check size i.e, rows and columns
TelecomCompany.size

12

In [28]:
#to check data type of elements
TelecomCompany.dtype

dtype('int32')

In [29]:
#Array Computations

In [30]:
# below will not work as lists can not perform element by element operation
distance = [10, 15, 23, 14]
time = [2, 3, 3, 2]
distance/time

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [33]:
import numpy as np
distance = np.array([10, 15, 23, 14])
time = np.array([2, 3, 3, 2])
distance/time

array([5.        , 5.        , 7.66666667, 7.        ])

In [34]:
Marks_math = [34, 45, 89]
Marks_science = [48, 55, 98]
Marks_socst = [67, 36, 60]
np.array(Marks_math) + np.array(Marks_science) + np.array(Marks_socst)

array([149, 136, 247])

In [35]:
# Average percentage of each student
(np.array(Marks_math) + np.array(Marks_science) + np.array(Marks_socst)) / 3

array([49.66666667, 45.33333333, 82.33333333])

In [37]:
# Broadcasting feature in array
Marks_Math_Array = np.array([34, 45, 89])
Marks_Math_Array + 3

array([37, 48, 92])

In [38]:
#Function on array like min, max, sum

In [39]:
Marks_math = np.array([34, 45, 89, 76, 89, 89, 89, 47, 48, 78, 47, 48])
Marks_math

array([34, 45, 89, 76, 89, 89, 89, 47, 48, 78, 47, 48])

In [40]:
print(Marks_math.min())
print(Marks_math.max())
print(Marks_math.mean())
print(Marks_math.sum())

34
89
64.91666666666667
779

In [41]:
#Functions in NumPy on array object or other python objects like List, tuple, etc.

In [42]:
Marks_math = [34, 45, 89, 76, 89, 89, 89, 47, 48, 78, 47, 48]
np.unique(Marks_math)

array([34, 45, 47, 48, 76, 78, 89])

In [43]:
#below sum() function would not work as one of the element is math
Marks_math = [34, 45, 47, 48, 76, 78, np.NaN]
sum(Marks_math)

nan

In [44]:
#solution to above problem
Marks_math = [34, 45, 47, 48, 76, 78, np.NaN]
np.nansum(Marks_math)

328.0

In [45]:
np.nanmean(Marks_math)

54.666666666666664

In [46]:
3 * np.array([3,4])

array([ 9, 12])