In [2]:
import pandas as pd
#one dimensional object
cust_age = pd.Series([23, 45, 26, 78, 45])
cust_age

0    23
1    45
2    26
3    78
4    45
dtype: int64

In [3]:
cust_age + 5

0    28
1    50
2    31
3    83
4    50
dtype: int64

In [4]:
# numpy represents missing value as np.NaN
# pandas represents missing value as None 
import numpy as np
cust_age = pd.Series([23, 45, 26, np.NaN, 78, 45, None])
cust_age

0    23.0
1    45.0
2    26.0
3     NaN
4    78.0
5    45.0
6     NaN
dtype: float64

In [5]:
cust_age.dtype

dtype('float64')

In [6]:
np.nansum(cust_age)

217.0

In [7]:
#implicit coercion
cust_age = pd.Series([23, 45, 56, '78', 45])
cust_age

0    23
1    45
2    56
3    78
4    45
dtype: object

In [12]:
#explicit coercion
cust_age = pd.Series([23, 45, 56, '78', 45], dtype = 'int32')
print(cust_age)

0    23
1    45
2    56
3    78
4    45
dtype: int32

C:\Users\Prakash Stark\AppData\Local\Temp\ipykernel_6956\3945035855.py:2: FutureWarning: Values are too large to be losslessly cast to int32. In a future version this will raise OverflowError. To retain the old behavior, use pd.Series(values).astype(int32)
  cust_age = pd.Series([23, 45, 56, '78', 45], dtype = 'int32')

In [13]:
cust_name = pd.Series(["John", "Paul", "Lisa"])
print(cust_name)
print(cust_name.dtype)
print(type(cust_name))

0    John
1    Paul
2    Lisa
dtype: object
object
<class 'pandas.core.series.Series'>

In [14]:
bool_series = pd.Series([True, False])
print(bool_series)
bool_series.dtype

0     True
1    False
dtype: bool

dtype('bool')

In [ ]:
#converting a data type

In [16]:
score_maths = [78, 89, "76", 90, 67]
score_maths_series = pd.Series(score_maths)
print(score_maths_series)
score_maths_series.dtype

0    78
1    89
2    76
3    90
4    67
dtype: object

dtype('O')

In [18]:
#convert to integer data type
New_Marks = score_maths_series.astype(int) + 5
print(New_Marks)

0    83
1    94
2    81
3    95
4    72
dtype: int32

In [20]:
customer_card = pd.Series([0, 1, 3, 0, 5, 7, 0, 3, -4])
customer_card.astype(bool)

0    False
1     True
2     True
3    False
4     True
5     True
6    False
7     True
8     True
dtype: bool